@model IEnumerable<N.Treinamento.Application.ViewModels.DoencaViewModel>
@using GL.Treinamento.UI.Site.Helpers;

@{
    ViewBag.Title = "Listagem de doenças";
}

<h2>Listagem de doenças</h2>

<p>
    @Html.ActionLink("Cadastrar doença", "Create", "Create", new { @class = "btn btn-primary" }).IfClaimHelper("PermissoesCliente", "CI")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeDoenca)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDoenca)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.DoencaId }, new { @class = "btn btn-warning" }).IfClaimHelper("PermissoesCliente", "CE")
                @Html.ActionLink("Excluir", "Delete", new { id = item.DoencaId }, new { @class = "btn btn-danger" }).IfClaimHelper("PermissoesCliente", "CX")
                @Html.ActionLink("Detalhes", "Details", new { id = item.DoencaId }, new { @class = "btn btn-info" }).IfClaimHelper("PermissoesCliente", "CD")
            </td>
        </tr>
    }

</table>
