@model N.Treinamento.Application.ViewModels.MantimentoViewModel

@{
    ViewBag.Title = "Exluir doação recebida";
}

<div>
    <h4>MantimentoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.DataValidade)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.DataValidade)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Item)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Item)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>
    
    </dl>
    
    @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    
    <div class="form-actions no-color">
        <input type="submit" value="Excluir" class="btn btn-danger" />
        @Html.ActionLink("Listagem", "Index", "Index", new { @class = "btn btn-primary" })
    </div>
    }
</div>
